<h1>Anwesenheit verwalten</h1>

<%= link_to "Teilenehmerbeiträge aktualisieren", {:controller => :admin, :action => :calculate_attendance_fees} %>

<br />
<br />

<%= form_tag({:controller => :admin, :action => :update_attendances}, {:method => :put}) do %>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Tage angemeldet</td>
        <td>Tage anwesend</td>
        <td>zu zahlen</td>
        <td>gezahlt?</td>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |a| %>
        <%= fields_for "attendances[]", a do |f| %>
			<tr class="short_text_fields separated <%= a.paid ? "paid" : "not_paid" %>">
				<td><%= a.user_name %><br />
					<%= render 'shared/form_errors', :errors => a.errors.full_messages %>
				</td>
				<td><%= f.text_field :days_registered %></td>
				<td><%= f.text_field :days_participated %></td>
				<td><%= f.text_field :fee %></td>
				<td><%= f.check_box :paid %></td>
			</tr>
		<% end %>
  <% end %>

  <% total_fees = 0
  total_days = 0
  @attendances.map { |a|
    total_fees += a.fee if a.fee
    total_days += a.days_participated if a.days_participated
  }
  %>

  <tr>
	  <td></td>
	  <td><b>Total:</b></td>
      <td><b><%= total_days %></b></td>
	  <td><b><%= total_fees %></b> (<%= Lan.current.total_costs if Lan.current %>)</td>
	  <td></td>
  </tr>

  </tbody>
</table>
<%= submit_tag 'speichern' %>
<% end %>
