<h1><%= @user.name %></h1>

<% if @user == current_user or admin? %>
	<%= link_to (image_tag 'icons/pencil.png')+' Account bearbeiten', edit_user_path(@user) %><br /><br />
<% end %>

Nick: <b><%= @user.nick %></b><br /></br />

<table>
	<tr>
		<th>IP:</th>
		<td><%= @user.current_ip %></td>
	</tr>
	<tr>
		<th>Hostname:</th>
		<td><%= @user.current_hostname %></td>
	</tr>
	<tr>
		<th>Ports:</th>
		<td><%= @user.current_ports %></td>
	</tr>
</table>
<br>
<br>

[sitzplatz]
[nachricht schicken]
