<div id="links">
  <%= link_to image_tag("logo.png", :id => 'logo'), root_url %>

  <ul>
    <li><%= link_to "FAQ", faqs_path %></li>
    <li><%= link_to "Games", games_path %></li>
  </ul>

  <% if admin? %>
    Admin:
    <ul>
      <li><%= link_to "Mailinglist verwalten", 'mailinglist/manage' %></li>
    </ul>
  <% end %>
</div>

<div id="account">
  <h2>Account</h2>
  <% if current_user %>
    Eingeloggt als <b><%= link_to current_user.name, user_path(current_user) %>.</b><br>
    <%= link_to "logout", logout_path, :style=>"float: right" %><br class="clear">
  <% else %>
    <%= render 'shared/login_form' %>
  <% end %>
</div>
