<div id="links">
  <% if Rails.env.development? %>
    <%= link_to image_tag("logo_devel.png", :id => 'logo'), root_url %>
  <% else %>
    <%= link_to image_tag("logo.png", :id => 'logo'), root_url %>
  <% end %>

  <ul>
    <li><%= link_to "Abstimmungen", polls_path %></li>
    <% if current_user %>
      <li><%= link_to "neue Abstimmung erstellen", new_poll_path %></li>
    <% end %>

    <li><%= link_to "FAQ", faqs_path %></li>
    <li><%= link_to "Games", games_path %></li>
    <li><%= link_to "Anmeldungen", lan_participants_path %></li>
    <li><%= link_to "alle Benutzer", users_path %></li>
  </ul>

  <% if admin? %>
    <hr>
    <ul>
      <li><%= link_to "Mailinglist verwalten", 'mailinglist/manage' %></li>
      <li><%= link_to "alle LANs", lans_path %></li>
      <li><%= link_to "User Aktivitätsgraph", activity_path %></li>
	  <li><%= link_to "Anwesenheit verwalten", :controller => :admin, :action => :manage_attendances %></li>
	  <li><%= link_to "Finanzen", :controller => :admin, :action => :finances %></li>
	  <li><%= link_to "Rechnungen verschicken", :controller => :admin, :action => :send_invoices %></li>
	  <li><%= link_to "Export / Import", migration_path %></li>
    </ul>
  <% end %>
</div>

<div id="account">
  <h2>Account</h2>
  <% if current_user %>
    Eingeloggt als <b><%= link_to current_user.name, user_path(current_user) %>.</b><br /><br />
    <%= button_to "logout", logout_path, :method=>'get', :style=>"float: right" %><br class="clear" /><br />
  <% else %>
    <%= render 'shared/login_form' %>
  <% end %>
</div>
