<% if poll.can_be_voted_on_from?(current_user) %>
	<% poll_link = vote_poll_path(poll) %>
<% else %>
	<% poll_link = poll_path(poll) %>
<% end %>

<tr class="tr_link<%= " expired" if poll.expired? %>" onclick="window.location.href = '<%= poll_link %>'">
	<td width="16px"><%= image_tag('icons/asterisk_yellow.png', :alt => 'neu') if current_user and !current_user.has_voted_on?(poll) %></td>
	<td><b><%= link_to poll.title, poll_link %></b></td>
	<td><%= poll.readable_type %></td>
	<td><%= poll.votes.count %></td>
	<td><%= poll.countdown_html %></td>
		<td><% if admin? or (logged_in? and poll.user == current_user) %>
				<%= link_to (image_tag 'icons/pencil.png', :alt => 'bearbeiten'), edit_poll_path(poll) %>
			<% end %></td>
</tr>
