<h1>neue Abstimmung erstellen</h1>

<%= render 'shared/form_errors', :errors => @poll.errors.full_messages %>

<%= form_for(@poll, :url => {:controller => "polls", :action => "create"}) do |f| %>
  <table style="width:100%">
    <tr>
      <td><%= f.label :title, "Titel:" %></td>
      <td>Typ:</td>
    </tr>

    <tr>
      <td><%= f.text_field :title, :style => "width: 100%", :class=>'title' %></td>
      <td><%= @poll.readable_type %> <%= hidden_field_tag :type, :value => @poll.class.name %></td>
    </tr>

    <tr>
      <td colspan=2>
        Läuft ab in

        <%= f.text_field :expiration_in_hours, :size => 5 %>
        <%= f.label :expiration_in_hours, "Stunden" %>

        und

        <%= f.text_field :expiration_in_minutes, :size => 5 %>
        <%= f.label :expiration_in_minutes, "Minuten" %>
      </td>
    </tr>

    <tr>
      <td colspan=2>
        <%= f.label :description, "Beschreibung:" %> <br />
        <%= f.text_area :description, :style=>"height: 60pt" %>
      </td>
    </tr>

      <tr class="poll_form_additional">
        <td colspan=2>
          <%= render @poll.custom_form, :poll => @poll, :form => f   if @poll.has_custom_form? %>
        </td>
      </td>


    <tr>
      <td></td>
      <td>
        <%= f.submit "speichern", :style => "width:100%" %>
      </td>
    </tr>
  </table>
<% end %>
