<h1><%= @poll.title %></h1>
<%= @poll.description %>
<br />
<br />
<canvas class="poll_canvas">
	<% @poll.options.each_with_index do |o,i| %>
		<option votes="<%= o.votes.count %>"
		        text="<%= o.text %>"
				color="<%= LanTool2::Application::COLORS[i] %>" />
	<% end %>
</canvas>
<br />
Stimmen total: <%= @poll.votes.count %> <br/>
Ende: <%= @poll.countdown_html %>
