<h1><%= @poll.title %></h1>
<%= @poll.description %>
<br />
<br />

<% if @poll.has_custom_show? %>
	<%= render @poll.custom_show, :poll => @poll %>
<% else %>
	<%= render "polls/show_pages/default", :poll => @poll %>
<% end %>

<br/>
Ende: <%= @poll.countdown_html %>
