<!DOCTYPE html>
<html>
<head>
  <title>LanTool2</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="menu">
    <%= render 'shared/menu' %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
